* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #333;
  /* width: 100%; */
  /* height: 100vh; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  margin: 5rem;
}

section {
  background: #fff;
  width: fit-content;
  margin: auto;
  border-radius: 1rem;
}

.btns {
  padding: 2rem;
}

.btn {
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 50%;
  background: #ccc;
  color: #333;
  width: 50px;
  height: 50px;
  font-size: 2rem;
}
.btn:hover {
  cursor: pointer;
}

.calculator .row1 {
  width: 100%;
  height: 8rem;
  margin-bottom: 2rem;
  background: orange;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 4rem;
  padding: 2rem;
}
